<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>ChiaKey</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>CKEY</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>ChiaKey</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chiakey</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.3</string>
	<key>InputMethodConnectionName</key>
	<string>ChiaKey_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>OpenVanillaController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>OpenVanillaController</string>
	<key>LSBackgroundOnly</key>
	<string>1</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 涼風千秋 Chiaki.C</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TISInputSourceID</key>
	<string>com.chiakey.inputmethod.ChiaKey</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hant</string>
	<key>TISIconIsTemplate</key>
	<true/>
	<key>TISIconLabels</key>
	<dict>
		<key>Primary</key>
		<string>千</string>
	</dict>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
		<string>Hans</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>ChiaKey16.icns</string>
</dict>
</plist>
